#algorithmio-container {
    display: flex;
    flex: 1;
    position: relative;
    top: 200px;
    left: 140px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    max-width: calc(100vw - 140px);
}