#dequeuebox-container {
    background-color: lightsalmon;
    position: relative;
    left: 440px;
    top: -150px;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}
