#queue-empty {
    max-width: 100px;
    min-width: 100px;
    max-height: 50px;
    min-height: 50px;
    background-color: red;
    position: relative;
    left: 400px;
    top: -500px;
    font-size: 18px;
    text-align: center;
}

#queue-not-empty {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    background-color: white;
    position: relative;
    left: 100px;
    top: -2000px;
    font-size: 18px;
    text-align: center;
}