#visualizer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    max-width: 600px;
    min-height: 650px;
    max-height: 650px;
    left: 800px;
    top: -100px;
    flex-direction: column;
}

#visualizer-box {
    display: flex;
    flex: 1;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    position: relative;
    left: 0px;
    background-color: white;
    top: 0px;
    flex-direction: column;
}

#label {
    display: flex;
    flex: 1;
    left: 250px;
    color: white;
    position: relative;
    top: 0px;
    max-width: 100px;
    justify-content: center;
}

#empty-stack {
    display: flex;
    flex: 1;
    z-index: 0;
    position: relative;
    top: 100px;

}

#left-arrow {
    display: flex;
    flex: 1;
    z-index: 1;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    max-height: 50px;
    top: 100px;
    left: 150px;
    z-index: 100;
    background-image: url(arrowL.webp);
    background-size: contain;
}

#right-arrow {
    display: flex;
    flex: 1;
    z-index: 1;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    max-height: 50px;
    top: -510px;
    left: 340px;
    background-image: url(arrowL.webp);
    background-size: contain;
}