#para-container {
    display: flex;
    align-items: center;
}

#paragraph {
    display: flex;
    font-size: 30px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: 1;
}