#para-container {
    text-align: left;
    display: flex;
    flex: 2;
    width: 1440px;
    flex-direction: row;
    align-items: center;
}

#paragraph {
    font-size: 30px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: 1;
}