#home-container {
    background: url(back-image3.jpg);
    /* background-size: fit-content; */
    display: flex;
    flex: 1;
    flex-direction: column;
    /* top: 80px; */
    /* min-height: 870px;
    min-width: 1440px; */
}

#description-resume-container {
    display: flex;
    flex-direction: row;
}

#footer-container {
    display: flex;
}

#nav-container {
    display: flex;
    min-height: 80px;
}