#resume-container {
    display: flex;
    flex: 1;
    /*padding: 80px 300px 80px 300px;*/
}

#resume-image {
    display: flex;
    flex: 1;
    position: relative;
    width: 200px;
    padding: 20px;
}
