#resume-container {
    display: flex;
    flex: 1;
    /*padding: 80px 300px 80px 300px;*/
}

#resume-image {
    display: flex;
    flex: 1;
    background: url(Resume.png);
    background-size: 400px;
    position: relative;
}
