#algorithm-interface-container {
    display: flex;
    flex: 1;
    position: relative;
    top: 200px;
    left: 140px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    max-width: 500px;
    min-height: 100px;
    max-height: 100px;
}

#algorithm-interface-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    max-width: 500px;
    min-width: 500px;
    justify-content: space-around;
}

#play-button {
    display: flex;
    flex: 1;
    max-width: 50px;
    min-width: 50px;
    max-height: 25px;
    background-color: blueviolet;
}

#reset-button {
    display: flex;
    flex: 1;
    max-width: 50px;
    min-width: 50px;
    max-height: 25px;
    background-color: blueviolet;
}