#visualizer-container-lcsdp {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    max-width: 600px;
    min-height: 650px;
    max-height: 650px;
    left: 800px;
    top: -100px;
    background-color: white;
}

#strings-container {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    min-height: 50px;
    max-height: 50px;
    top: 60px;
}

#string-x {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
}

#string-y {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
} 

#visualizer-table-lcsdp {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    max-height: 550px;
    max-height: 550px;
    border: 3px solid black;
}

#lcs-string {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
}

/* #visualizer-box-q {
    display: flex;
    flex: 1;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    position: relative;
    left: 0px;
    background-color: white;
    top: 0px;
    flex-direction: column;
} */