#visualizer-container-lcsdp {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    max-width: 600px;
    min-height: 650px;
    max-height: 650px;
    left: 800px;
    top: -100px;
    background-color: white;
}

#strings-container {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    min-height: 50px;
    max-height: 50px;
    top: 60px;
}

#string-x {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
    box-sizing: border-box;
}

#string-y {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
    box-sizing: border-box;
} 

#visualizer-table-lcsdp {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    max-height: 490px;
    max-height: 490px;
    border: 3px solid black;
    box-sizing: border-box;
    flex-direction: column;
    top: 60px;
}

#lcs-string {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 600px;
    min-width: 600px;
    max-height: 50px;
    min-height: 50px;
    border: 3px solid black;
    box-sizing: border-box;
    top: 60px;
}

.row-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}