#homepage-button {
    max-width: fit-content;
    padding: 10px 10px;
    font-size: 25px;
    color: #89a3d4;;
    display: flex;
    flex: 1;
}

#homepage-button:active {
    box-shadow: 0px 0px 10px 4px rgba(221, 161, 71, 0.596);
}