#bar {
    background: linear-gradient(rgb(44, 44, 46), rgb(78, 77, 76));
    text-align: left;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 10px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex: 1;
    z-index: 2;
}

.bar-element {
    max-width: fit-content;
    padding: 10px 10px;
    color: white;
    display: flex;
    flex: 1;
}

#bar-container {
    display: flex;
    flex: 1;
}