/* #explainer-container {
    display: flex;
    flex: 1;
    position: relative;
    background-color: white;
    font-size: 20px;
} */

.description {
    display: flex;
    flex: 1;
    position: relative;
    background-color: white;
    font-size: 20px;
    max-width: 600px;
    left: 100px;
    top: -450px;
}
